header{
    grid-area: head;
    text-align: center;
    }
    nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
        text-align: center;
    }
    body{
    display: grid;
    height: 100vh;
    grid-template-areas: "head head"
    "nav main"
    "nav main"
    "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 50px 1fr 30px;
}
